.vlc-card {
  background: #ffffff;
  width:100%;
  border:1px solid #eee;
  border-radius:5px;
  overflow: hidden;

  &-header,&-footer{
    position: relative;
    box-sizing: border-box;
    padding:0 10px;
    display: flex;
    height:48px;
    overflow: hidden;

  }


  &-content {
    position: relative;
    box-sizing: border-box;
     .main {
       min-height:300px;

     }
  }


}