.vlc-slideBar{
    border-top-color:@SlideBarBgColor;
    border-bottom-color: @SlideBarBgColor;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-width:1px;
   //border-bottom: 1px solid #eee;
   //border-top: 1px solid #eee;
    .vlc-slideBar-child{
      background-color: @SlideBackgroundCorlor;
       >a{

         color: @slideChildColor;
       }
    }
}