
.scale-enter-active,.scale-leave-active{
    will-change:transform;
    transition:all .3s ease-in;

}

.scale-enter,.scale-leave-active {
    transform:translate3d(-50%,-50%,0)  scale(.9);
    opacity:.2;
}






