@charset "utf-8";
/*RESET v3*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, cite, img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    font-weight: normal;
    vertical-align: baseline;
    font-family: "Microsoft YaHei UI";
}
html,body{
    height:100%;
    font-size:12px;
}
body {

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
button {
    outline: none;
}
ol, ul {
    margin: 0;
    padding: 0;
}
ol, ul, li {
    list-style: none;
}
i, em {
    font-style: normal;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
a {
    outline: none;
    text-decoration: none;
    text-decoration:none;
    text-decoration: none;
    transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
    -webkit-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
    -moz-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
    -ms-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
    -o-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s
}
input, textarea{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}
select, option{
    font-family: inherit;
}
.noselect{
    -webkit-user-select: none;
    user-select: none;
}
.clear {
    clear: both;
}
/*textarea,input,a{*/
    /*-webkit-appearance: none;*/
/*}*/
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}


@font-face {font-family: 'iconfont';
    src: url('./iconfont/iconfont.eot'); /* IE9*/
    src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.main{
    width:100%;
    background: #f7f7f7;
}

.main .d_wrapper{

}

.main .pt50{
    padding-bottom: 50px;
}

.fixBtn{
    position: fixed;
    bottom:0;
    width:100%;
    height:50px;

}

.fixBtn>button{
    width:100%;
    height:100%;
    border:0;
    font-size:18px;
    font-family: "Microsoft YaHei UI";
    color: #ffffff;
}

.fixBtn>button>.iconfont{
    font-size:18px;
}

.normalBtn{
    width:100%;
    height:50px;
}

.normalBtn>button{
    width:100%;
    height:100%;
    border:0;
    font-size:18px;
    font-family: "Microsoft YaHei UI";
    color: #ffffff;
}

.normalBtn>button>.iconfont{
    font-size:18px;
}



.start{
    background:#55acee;
}

.lessBlue{
    background: #66bdff;
}

.grey{
    background: #d2dbe1;
}

.yellow{
    background: #ffaa00;
}

.forbidden{
    background: #d2dbe1;
}

.redColor{
    color: #ed3340;
}

.blueColor{
    color: #55acee;
}

.yellowColor{
    color: #ffaa00;
}

.greyColor{
    color: #d2dbe1;
}

.whiteColor{
    color: #ffffff;
}

.mg10{
    margin-top:10px;
}

.route-transition{
    -webkit-transition: margin-top 1s ease-in,transform .5s ease-out,opacity .5s linear;
    -moz-transition: margin-top 1s ease-in,transform .5s ease-out,opacity .5s linear;
    -ms-transition: margin-top 1s ease-in,transform .5s ease-out,opacity .5s linear;
    -o-transition: margin-top 1s ease-in,transform .5s ease-out,opacity .5s linear;
    transition: margin-top 1s ease-in,transform .5s ease-out,opacity .5s linear;


}

.route-enter{
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.route-leave{
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    opacity:0;
}



.e616:before{
    content:'\e616';
}

.e617:before{
    content:'\e617';
}

.e618:before{
    content:'\e618';
}


.popup-box .rule-swap .invite-btn {
    display: block;
    height: 30px;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    bottom: 22px;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
}


.popup-box .rule-swap .tip p {
    font-size: 14px;
    line-height:25px;
    padding:0 10px;
}


.popup-transition{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.popup-enter,.popup-leave{

    opacity: 0;
}






