/*modal*/
.v-lc-modal{
    transform: translate3d(-50%,-50%,0) scale(1);
    position:absolute;
    top:50%;
    left:50%;
    overflow: hidden;
    border-radius:.1rem;
    box-shadow:0 0 .03rem .03rem #555;
    background:rgba(255,255,255,1)
}

.v-lc-modal-mask{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
}


.v-lc-modal .v-lc-modal-header{
    width:calc(100% - .2rem);
    padding: 0 .1rem;
    min-height:.3rem;
    line-height:.3rem;
    text-align: center;
}

.v-lc-modal .v-lc-modal-header .v-lc-modal-header-inner{
    width:100%;
}


.v-lc-modal .v-lc-modal-body{
    width:calc(100%  - .4rem);
    min-height:.5rem;
    max-height:.7rem;
    line-height:.25rem;
    padding:.1rem .2rem;
    word-wrap:break-word;
    overflow-y:scroll;
}

.v-lc-modal .v-lc-modal-footer{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

.v-lc-modal .v-lc-modal-button{
    flex:1;
    height:.4rem;
    border:0;

}


.v-lc-modal .v-lc-modal-footer:nth-child(odd){
    border-left:.01rem solid #ccc;
}


.v-lc-modal .v-lc-modal-button-sure{
    background: springgreen;
}

.v-lc-modal .v-lc-modal-button-cancle{
    background: wheat;
}



/*notice*/

.v-lc-notifaction{
    width:2.2rem;
    margin-right:.24rem;
    position: fixed;
    z-index:1000;
}

.v-lc-notice {
    width:100%;
    position: relative;
    line-height:.25rem;
    padding:.1rem;
}

.v-lc-notice .v-lc-notice-close{

    display: block;
    position: relative;
    right:0;
    top:.1rem;
    width:.1rem;
    height:.1rem;
}

.v-lc-notice .v-lc-notice-close:before{
    content: '';
    position: absolute;
    left:0;
    right:0;
    width:.1rem;
    height:.01rem;
    transform: rotate(-45deg);
}

.v-lc-notice .v-lc-notice-close:after{
    content: '';
    position: absolute;
    left:0;
    right:0;
    width:.1rem;
    height:.01rem;
    transform: rotate(45deg);
}
