.vlc-ani {
    &-fade {
        &-enter-active, &-leave-active {
            opacity: 1;
            transition: opacity .3s ease;
        }
        &-enter, &-leave-active {
            opacity: 0;
        }
    }

    &-bottom {
        &-enter-active, &-leave-active {
            transition: transform .3s ease-out 100ms;
        }
        &-enter, &-leave-active {
            transform: translate3d(0, 100%, 0);
        }
    }
}